<div class="employee-detail-container">
    <h2 class="centered-heading">Employee Detail</h2>
    <ul class="employee-list" *ngFor="let employee of employees">
      <li>{{employee.id}}. {{employee.name}} - {{employee.age}}</li>
    </ul>
  </div>
  
   <!-- <div class="employee-detail-container" *ngIf="employee; else noEmployee">
    <h2 class="centered-heading">Employee Detail</h2>
    <ul class="employee-list">
      <li>{{employee.id}}. {{employee.name}} - {{employee.age}}</li>
    </ul>
  </div>
  <ng-template #noEmployee>
    <h2 class="centered-heading">No Employee Found</h2>
  </ng-template> -->
  