<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="spacer"></span>
    <div class="auth-buttons">
      <button mat-raised-button color="accent" *ngIf="!isLoggedIn()" (click)="login()">Login</button>
      <button mat-raised-button color="warn" *ngIf="isLoggedIn()" (click)="logout()">Logout</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Display ItemListComponent only when logged in -->
<div class="main-content">
  <div class="item-list-container" *ngIf="isLoggedIn()">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        
        <nav>
          <button mat-button routerLink="/">
            <mat-icon matBadge="15" matBadgeColor="accent">home</mat-icon>
            
          </button>          
          <button mat-raised-button matBadge="7" [matBadgeHidden]="hidden" routerLink="/dashboard">
            Dashboard
          </button>          
          <button  mat-raised-button routerLink="/customers">Customers</button>
          <button  mat-raised-button routerLink="/orders">Orders</button>
          <button mat-raised-button matBadge="1"  matBadgeSize="small" routerLink="/reports">
            Reports
          </button>
          <button  mat-raised-button routerLink="/Grid">Grid</button>
          <button  mat-raised-button routerLink="/about">About</button>
          <button  mat-raised-button routerLink="/contact">Contact</button>
          <!-- <button mat-button routerLink="/edit">Edit</button> -->
          <button mat-raised-button [matMenuTriggerFor]="menu">Navigate</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/parent" routerLinkActive="active">Parent</button>
            <button mat-menu-item routerLink="/sibling1" routerLinkActive="active">Sibling1</button>
            <button mat-menu-item routerLink="/sibling2" routerLinkActive="active">Sibling2</button>
            <button mat-menu-item routerLink="/dislocated1" routerLinkActive="active">Dislocated1</button>
            <button mat-menu-item routerLink="/dislocated2" routerLinkActive="active">Dislocated2</button>
            <button mat-menu-item (click)="openPopup()">Dynamic Popup</button>
            <button mat-menu-item (click)="navigateToItemsList()">Items List</button>
            <button mat-menu-item (click)="navigateToEmployeeList()">Employee List</button>
            <button mat-menu-item (click)="navigateToEmployeeDetail()">Employee Detail</button>
          </mat-menu>
        </nav>
     </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</div>
